OPENAI_BASE_PATH: v1/chat/completions
GOOSE_MODE: auto
GOOSE_ROUTER_TOOL_SELECTION_STRATEGY: default
OPENAI_HOST: https://api.openai.com
extensions:
  chatrecall:
    enabled: true
    type: platform
    name: chatrecall
    description: Search past conversations and load session summaries for contextual memory
    bundled: true
    available_tools: []
  memory:
    enabled: true
    type: builtin
    name: memory
    description: ''
    display_name: Memory
    timeout: 300
    bundled: true
    available_tools: []
  developer:
    enabled: true
    type: builtin
    name: developer
    description: ''
    display_name: Developer
    timeout: 300
    bundled: true
    available_tools: []
  todo:
    enabled: true
    type: platform
    name: todo
    description: Enable a todo list for Goose so it can keep track of what it is doing
    bundled: true
    available_tools: []
  computercontroller:
    enabled: true
    type: builtin
    name: computercontroller
    description: ''
    display_name: Computer Controller
    timeout: 300
    bundled: true
    available_tools: []
  extensionmanager:
    enabled: true
    type: platform
    name: Extension Manager
    description: Enable extension management tools for discovering, enabling, and disabling extensions
    bundled: true
    available_tools: []
  skills:
    enabled: true
    type: platform
    name: skills
    description: Load and use skills from relevant directories
    bundled: true
    available_tools: []
  code_execution:
    enabled: true
    type: platform
    name: code_execution
    description: Execute JavaScript code in a sandboxed environment
    bundled: true
    available_tools: []
  autovisualiser:
    enabled: false
    type: builtin
    name: autovisualiser
    description: Data visualisation and UI generation tools
    display_name: Auto Visualiser
    timeout: 300
    bundled: true
    available_tools: []
GOOSE_AUTO_COMPACT_THRESHOLD: 0.0
GOOSE_MODEL: claude-sonnet-4-6
GOOSE_TELEMETRY_ENABLED: true
ANTHROPIC_HOST: https://api.anthropic.com
GOOSE_PROVIDER: anthropic